@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<div class="container">
  <h2>Add Category</h2>
  <hr />
  <h4>Add a Category to this Recipt: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
      @Html.HiddenFor(model => model.RecipeId)

      @Html.Label("Select Category ")
      @Html.DropDownList("CategoryId")
  <br />
      <input type="submit" value="Save" class="btn"/>
  }

  <h5 class="pageLink">@Html.ActionLink("Cancel", "Index")</h5>

</div>