@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<div class="container">
  <h2>Add New Recipe</h2>

  @using (Html.BeginForm())
  {
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Ingredients)
    @Html.TextBoxFor(model => model.Ingredients)

    @Html.LabelFor(model => model.Instructions)
    @Html.TextBoxFor(model => model.Instructions)

    @* @Html.Label("Select Category")
    @Html.DropDownList("CategoryId") *@
  <br/>
    <input type="submit" value="Add " class="pageLinkB" />
  }

  <h5 class="pageLinkB">@Html.ActionLink("Cancel", "Index")</h5>

</div>

