@{
  Layout = "_Layout";
}

@model ToDoList.Models.Category

<h4>Add Category</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input type="submit" value="Add Category" />
}

<h5>@Html.ActionLink("Category List", "Index")</h5>
@* <h5>@Html.ActionLink("Item List", "Index", "Items")</h5> *@
<h5>@Html.ActionLink("Home", "Index", "Home")</h5>