@{
  Layout = "_Layout";
}

@using ToDoList.Models;

<h1>Category List</h1>
<h4>* Click on Category to see details *</h4>

@if (@Model.Count == 0)
{
  <h4>Category List is EMPTY!</h4>
} 


<ul>
  @foreach(Category category in Model)
  {
    <li>@Html.ActionLink($"{category.Name}", "Details", new { id = category.CategoryId })</li>
  }
</ul>

<h5>@Html.ActionLink("Add Category", "Create")</h5>
<h5>@Html.ActionLink("Item List", "Index", "Items")</h5>
<h5>@Html.ActionLink("Home", "Index", "Home")</h5>